@page
@model IndexModel
@{
    ViewData["Title"] = "PUMOTIX";
}

<div class="text-center">
    <h1 class="display-4">Welcome guy</h1>
    <p>Learn about the <a href="http://pumotix.ru">PUMOTIX</a> CNC control system.</p>
</div>
